*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    /* overflow-y: visible; */
}

::-webkit-scrollbar{
    width: 0px;
    /* cursor: pointer; */
    /* opacity: 0; */
    /* display: flex; */
    /* padding: 5px; */
    /* background: rgba(0, 0, 0, 0.092); */
}


@font-face {
    font-family: merriregular;
    src: url(./fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: merrilight;
    src: url(./fonts/Merriweather\ Light.ttf);
}

@font-face {
    font-family: merribold;
    src: url(./fonts/Merriweather-Bold.ttf);
}

.mobile{
    display: none;
}

.desktop{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    
}

.head{
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
}

.headleft{
    padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 50px;
    height: 100%;
    width: 50%;
    /* border: 1px solid gold; */
    background: rgba(222, 184, 135, 0.2);
}

.navdesktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-right: 30px; */
    height: 70px;
}

.navdesktop h1{
    font-size: 42px;
    color: var(--text-color);
    font-family: merrilight;
    font-weight: 700;
    margin-right: 20px;
}

.navdesktop a{
    text-decoration: none;
    color: var(--light-text-color);
    font-size: 16px;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.7s ease;
}

.navdesktop a:hover{
    border: 2px solid var(--text-color);
    scale: 1.05;
}

.banner{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding-top: 120px;
    line-height: 25px;
    color: var(--light-text-color);
}

.banner span{
    font-size: 15px;
    line-height: 20px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: var(--text-color);
}

.banner h1{
    font-size: 52px;
    margin-bottom: 50px;
    color: var(--text-color);
    line-height: 65px;
    font-family: merrilight;
    font-weight: 300;
}

.scrolldown{
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin: 50px 0;
    transition: all 0.5s ease;
    /* padding: 10px; */
}

.scrolldown:hover a{
    /* rotate: 360deg; */
    animation: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: relative;
    overflow: hidden;
    /* width: 100%; */
}

@keyframes bounce {
    0%  { top: 0;}
    /* 25% {top:15px}
    50% {top:0}
    75% {top:-15px} */
    100%  {top:10px; }
}


.scrolldown a i{
    color: var(--text-color);
    font-size: 25px;
    height: 50px;
    padding-top: 10px;
    /* border: 1px solid red; */
    /* display: flex; */
}


.headright{
    height: 100%;
    width: 50%;
    /* border: 1px solid green; */
    background: url(./images/header.png);
    display: flex;
    background-size: cover;
}

.chat{
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55px;
    right: 30px;
    transition: all 0.7s ease;
    z-index: 2;
    /* overflow: hidden; */
    /* position: relative; */
}

.ai{
    z-index: 2;
    position: absolute;
    padding: 7px;
    transition: all 0.5s ease;
    overflow: hidden;
    border-radius: 50%;
}

.aii{
    z-index: 2;
    position: absolute;
    padding: 10px;
    transition: all 0.5s ease;
    opacity: 1;
    overflow: hidden;
    border-radius: 50%;
}

.chat:hover .ai{
    opacity: 1;
}

.chat:hover .aii{
    opacity: 1;
}

.imageone{
    width: 100%;
    position: relative;
    /* transform: translateX(0); */
    transition: all 0.5s ease;
}

.chat:hover .imageone{
    transform: translateX(40px);
}

.imagetwo{
    width: 100%;
    position: relative;
    transform: translateX(-40px);
    transition: all 0.5s ease;
    /* height: 25px; */
    /* position: absolute;
    top: 0;
    left: 50%; */
}

.chat:hover .imagetwo{
    transform: translateX(0);
}

.chatme{
    border: 2px solid transparent;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 0px;
    height: 50px;
    border-radius: 30px;
    z-index: 1;
    background: transparent;
    /* transition-delay: 2s; */
    transition: all 1s ease;
    opacity: 0;
    display: flex;
    /* padding: 0 60px 0 20px; */
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    /* content: "<input>"; */
    /* content: ""; */
}

.chat:hover .chatme{
    transition: all 1s ease;
    border: 2px solid #fff;
    width: 300px;
    opacity: 1;
    /* cursor: text; */
    /* scale: 2; */
}

.chatmetxt{
    outline: transparent;
    background: transparent;
    border: none;
    width: 0px;
    height: 100%;
    color: #fff;
    font-size: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 40px;
}

.chat:hover .chatmetxt{
    width: 100%;
    font-size: 20px;
}

.chatmetxt::placeholder{
    width: 0px;
    color: #fff;
    transition: all 2s ease;
    opacity: 0;
    font-size: 15px;
    /* font-size: 0; */
    background: transparent;
}

.chat:hover .chatmetxt::placeholder{
    transition: all 2s ease;
    width: 100%;
    opacity: 0.5;
}



/* .chatme::placeholder{
    font-size: 30px;
    border: transparent;
    background: transparent;
    color: #fff;
    opacity: 0.5;
} */





.about{
    display: flex;
    padding: 50px 10vw;
    background: rgba(222, 184, 135, 0.2);
}

.aboutleft{
    width: 50%;
    /* border: 2px solid tomato; */
}

.aboutleft h1{
    margin-bottom: 30px;
    font-size: 52px;
    font-family: merrilight;
    font-weight: 300;
    color: var(--light-text-color);
}

.aboutleft a{
    text-decoration: none;
    color: var(--text-color);
}

.aboutright{
    width: 50%;
    /* border: 2px solid green; */
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    line-height: 27px;
    color: var(--light-text-color);
}


.abouttexttop{
    display: flex;
    /* border: 2px solid blue; */
    justify-content: space-between;  
    margin-bottom: 30px;
}

.abouttextbottom{
    display: flex;
    /* border: 2px solid purple; */
    justify-content: space-between;  
}

.aboutright h1{
    margin-bottom: 10px;
    color: var(--text-color);
}


.end{
    display: flex;
    background: 2px solid red;
    margin: 100px 10.5vw 100px 10.5vw;
}

.endleft{
    /* border: 2px solid black; */
    width: 50%;
    line-height: 35px;
    color: var(--light-text-color);
    /* height: 200px; */
}

.endleft h1{
    font-size: 37px;
    margin-bottom: 10px;
    font-family: merrilight;
    font-weight: 300;
    color: black;
}


.endleft a{
    text-decoration: none;
    color: #A06056;
    /* padding-top: 20px; */
}

.endright{
    /* border: 2px solid green; */
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.endright input{
    border: 0;
    height: 50px;
    width: 300px;
    background: rgba(243, 238, 232, 0.3);
    padding: 0 15px;
    margin-right: 20px;
}

.endright button{
    border: 2px solid transparent;
    height: 50px;
    width: 130px;
    background: #534B42;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s ease;
}

.endright button:hover{
    border: 2px solid #534B42;
    background: transparent;
    color: #534B42;
}




.swiper {
    width: 100%;
    /* border: 2px solid blue ; */
    /* height: 1000px; */
    padding: 30px 0;
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
}

.swiper-slide {
    height: 700px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 550px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}

.itemi{
    margin-left: 10vw;
}

.nextandprev{
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10vw 0 0;
    margin: 50px 0 0 0;
    height: 100px;
}

.swiper-button-next{
    /* border: 2px solid black; */
    position: static;
    /* top: 100% !important;
    right: 0 !important; */
}

.swiper-button-prev{
    /* position: relative; */
    position: static;
    margin-right: 40px !important;
    /* border: 2px solid black; */
    /* top: 100% !important;
    right: 100px !important; */
}

.sud{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all 0.7s ease !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff !important;
    border: 3px solid var(--text-color);
    /* padding: 20px; */
}

.sud::after{
    position: relative;
    top: -1px;
    color: var(--text-color);
    right: -2px;
    font-size: 25px !important;
    font-weight: bolder !important;
    transition: all 0.7s ease !important;
}

.swiper-button-prev::after{
    right: 2px;
}

.sud:hover{
    scale: 1.08;
    background: var(--text-color) !important;
    /* border: 5px solid rgba(255, 255, 255, 0.5); */
}

.sud:hover.sud::after{
    color: #fff;
    /* font-size: 40px !important; */
}








.controls {
    /* border: 2px solid black; */
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin-bottom: 100px;
    /* margin-bottom: 30px; */
}






.controllers{
    /* border: 2px solid black; */
    display: flex;
}

.controls span{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    /* border: 2px solid red; */
    margin-right: 50px;
}

.controls-text h1{
    font-size: 45px;
    font-family: merrilight;
    font-weight: 300;
    color: #534B42;
    /* margin-right: 300px; */
}

.controls-text p{
    display: flex;
    justify-content: right;
    font-size: 18px;
    max-width: 359px;
    color: var(--light-text-color);
}






.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    padding: 50px 10vw 70px 10vw;
    background: #F3EEE8;
}



.container-footer{
    padding: 20px 0;
    /* border: 2px solid green; */
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    
}

.sitename{
    /* width: 100%; */
    /* border: 2px solid red; */
    margin-right: 15%;
    line-height: 25px;
    color: #534B42;
    font-family: merrilight;
    font-weight: 700;
    font-size: 34px;
}

.sitemap{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.products, .rooms, .services, .aboutt{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.sitemap h3{
    font-size: 25px;
    color: #534B42;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}

.sitemap a{
    text-decoration: none;
    color: #706458;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.25s ease;    
}

.sitemap a:hover{
    color: var(--text-color);
}

.respect{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    max-width: 400px;
    /* align-items: center; */
}

.respect h3{
    line-height: 30px;
    margin-bottom: 25px;
    color: #534B42;
    font-size: 25px;
}

.respect img{
    width: 260px;
    margin-bottom: 20px;
}

.respect p{
    color: #706458;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 16px;
}

.respect a{
    color: var(--text-color);
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
}



.respect i{
    margin-left: 10px;
    font-size: 16px;
}

.respect a:hover{
    color: #484139;
}












.footer-links-holder{
    /* width: 40%; */
    /* margin: 0 auto; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    /* border: 2px solid green; */
    margin-bottom: 20px;
}

.link a{
    color: #706458;
    border: 3px solid var(--text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.link a:hover{
    background-color: var(--text-color);
    color: #F3EEE8;
}

.link{
    margin-right: 20px;
}

.link a i{
    font-size: 23px;
}







.final-end{
    display: flex;
    padding: 10px 10vw 30px 10vw;
    width: 100vw;
    justify-content: space-between;
    align-items: center
    ;
    /* border: 2px solid green ; */
}

.author{
    width: 100%;
    margin-right: 100px;
    color: #706458;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.siteusage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 350px;
    line-height: 25px;
    flex-wrap: wrap;
}

.siteusage a{
    text-decoration: none;
    color: #706458;
    transition: all 0.5s ease;
}

.siteusage a:hover{
    color: var(--text-color);
}


.gitt{
    margin: 0;
}


.gototop{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.gototop{
    background-color: #484139;
    width: 30px;
    color: #fff;
    height: 30px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #fff;
    opacity: 0.3;
    transform: translateX(100px);
    transition: all 2.5s ease;
}


.hideme{
    transform: translateX(0px);
}










@media screen and (max-width: 1000px) {

    body{
        overflow-x: hidden;
    }


    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }


    .m{
        /* border: 2px solid tomato; */
        background: var(--gradient), url(./images/header.png);
        min-height: 100vh;
        background-position: center;
        background-size: 200%;
        background-repeat: no-repeat;
        padding: 40px 10vw 0 10vw;
        transition: all 2s ease;
        /* opacity: 0.95; */
    }
    
    .mm{
        background-size: 300%;
        /* height: 120vh; */
        /* transition: all 1.5s ease; */
    }


    .navm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }

    .navtext h1{
        font-family: merrilight;
        color: white;
        font-size: 34px;
        font-weight: 700;
        line-height: 25px;
        cursor: pointer;
    }

    .navtext a{
        text-decoration: none;
    }


    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        /* flex-direction: column; */
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0.75;
        /* background-color: #fff; */
        /* border: 2px solid red; */
    }

    .menu{
        width: 100%;
        height: 4px;
        background: transparent;
        position: relative;
        border-radius: 20px;
    }
    
    .menu::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.85);
        top: -7px;
        border-radius: 20px;
        transition: all 0.7s ease;
    }
    .menu::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.85);
        top: 7px;
        border-radius: 20px;
        transition: all 0.7s ease;
    }

    .mobile-link-holder{
        position: absolute;
        top: 100px;
        left: 0;
        width: 100vw;
        z-index: -1;
        height: 0px;
        opacity: 0;
        /* border: 2px solid red; */
        overflow: hidden;
        /* filter: blur(5px); */
        /* transform: translateY(60px); */
        transition: all 1.5s ease;
        /* transition-duration: opacity 0s; */
        /* transition: opacity 1s ease !important; */
        /* padding: 10px; */
    }
    
    .show-mobile-link-holder{
        height: 300px;
        z-index: 100;
        /* filter: blur(0); */
        opacity: 1;
        /* transform: translateY(0); */
        transition: all 1.5s ease;
        animation: blurlink;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        /* anima */
    }

    @keyframes blurlink {
        0%{filter: blur(5px);}
        100%{filter: blur(0);}
    }
    
    .mobile-link-holder ul{
        list-style: none;
        /* position: relative; */
        display: flex;
        flex-direction: column;
        align-items: justify;
        justify-content: center;
        /* padding: 0 auto; */
    }
    

    .mobile-link-holder ul li{
        width: 100%;
        display: flex;
    }
    
    
    
    .mobile-link-holder ul a{
        background: #D9D9D9;
        color: #706458;
        text-decoration: none;
        width: 100%;
        font-size: 25px;
        padding: 20px 10vw;
        transition: all 0.25s ease;
    }
    
    .active{
        background: transparent !important;
        color: #fff !important;
        transition: all 0.25s ease;
    }

    .showburger .menu::after, .showburger .menu::before{
        transition: all 1.25s ease;
        background: #fff;
    }

    .showburger .menu::before{
        /* transform: translateY(10px); */
        top: 0px;
        transform: rotate(45deg);
    }
    
    .showburger .menu::after{
        top: 0px;
        /* transform: translateY(-10px); */
        transform: rotate(-45deg);
    }

    .headm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        font-size: 18px;
        color: white;
        margin-top: 20vh;
        transition: all 2s ease !important;
    }
    
    .headmm{
        margin-top: 47vh;
        /* transition: all 1.5s ease; */
    }

    .headm span{
        color: white;
        margin-bottom: 40px;
        font-weight: bolder;
    }
    
    .headm h1{
        color: white;
        margin-bottom: 40px;
        font-family: Merrilight;
        font-size: 35px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: -0.30000001192092896px;
        text-align: center;
    }

    
    .scrolldownm{
        border: 2px solid white;
        margin-top: 40px;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }


    
    
    .scrolldownm a{
        animation: bounce;
        animation-timing-function: ease-out;
        animation-iteration-count: 4;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        animation-duration: 0.7s;
        position: relative;
    }
    
    @keyframes bounce {
        0%  { top: 0;}
        100%  {top:12px; }
    }

    .headmm .scrolldownm a{
        animation: none;
    }
    
    
    .scrolldownm a i{
        color: white;
        font-size: 29px;
        height: 50px;
        padding-top: 10px;
        /* border: 1px solid red; */
        /* display: flex; */
    }

    .aboutm{
        background: rgba(222, 184, 135, 0.2);
        padding: 0 10vw;
    }

    .aboutmhead{
        /* border: 2px solid tomato; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .aboutmhead h1{
        font-family: merrilight;
        font-weight: bolder;
        color: #534B42;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.30000001192092896px;
        text-align: center;
        margin: 30px 0;
    }

    .aboutmhead a{
        color: var(--text-color);
        font-weight: bolder;
        text-decoration: none;
    }

    .aboutmbottom{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        margin: 40px 0 20px 0;
        line-height: 25px;
    }

    .aboutmtext h1{
        font-size: 24px;
        color: var(--text-color);
        margin-bottom: 5px;
        /* font-weight: light; */
    }

    .aboutmtext {
        color: var(--light-text-color);
        font-size: 15px;
    }
    
    .aboutmtext div{
        margin-bottom: 25px;
    }

    .endm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2ps solid tomato;
        padding: 20px 10vw;
        background: transparent;
    }

    .endm input{
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        background: rgba(243, 238, 232, 0.3);
        border: 2px solid transparent;
        padding: 10px;
        outline: none;
    }
    
    .endm button{
        width: 100%;
        height: 50px;
        background: #534B42;
        color: white;
        border: 2px solid transparent;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
    }

    .inspirem{
        padding: 20px 10vw;
    }

    .inspirem h1{
        font-family: merrilight;
        color: #534B42;
        font-size: 45px;
        font-weight: 300;
        padding-bottom: 45px;
    }

    .inspirem p{
        font-size: 18px;
        color: var(--light-text-color);
        line-height: 25px;
        padding-bottom: 30px;
    }

    .images{
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 20px 10vw;
        margin-bottom: 50px;
    }

    .stuff img{
        width: 100%;
        height: 200px;
        object-position: top;
        object-fit: cover;
        /* width: 437.7px; */
        /* height: 284px; */
    }

    .stuff{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        /* height: 200px; */
    }


    .cooked img{
        object-position: center;
    }


    .stuff span{
        margin-top: 15px;
        /* margin: 20px 0 20px 0; */
        /* border: 2px solid red; */
        font-size: 15px;
        font-weight: 400;
        color: #121212;
    }

    .footer{
        overflow: hidden;
    }

    .container-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sitemap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center;
        text-align: center; */
    }

    .sitename{
        margin: 0;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products, .services, .rooms, .aboutt{
        margin-bottom: 50px;
    }

    .respect{
        display: flex;
        flex-direction: column;

    }

    .footer-links-holder{
        margin-bottom: 50px;
    }

    .respect  img{
        width: 100%;
        max-width: 500px;
        object-position: center;
    }

    .final-end{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .author, .siteusage{
        margin: 0;
    }

    .siteusage{
        margin-bottom: 40px;
    }

    .gototop{
        display: flex;
    }







    
    
}


.hidden{
    /* border: 2px solid #fff; */
    opacity: 0;
    /* filter: blur(5px); */
    transition: all 0.7s ease;
    transform: translateY(30px);
}

.show{
    opacity: 1;
    transform: translateY(0);
    /* filter: blur(0); */
}

.images .hiddenimgi{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    /* scale: 0.7; */
}

.images .show{
    opacity: 1;
    filter: blur(0);
    scale: 1;
    transform: translateY(0);
}

.footer-links-holder .hidden{
    filter: blur(4px);
}

.footer-links-holder .hiddeni{
    transition-delay: 0.25s !important;
    transition: all 0s ease;
    transform: translateX(-100%);
}
.footer-links-holder .hiddenii{
    transition-delay: 0.5s !important;
    transition: all 0s ease;
    transform: translateX(-100%);
}
.footer-links-holder .hiddeniii{
    transition-delay: 0.7s !important;
    transition: all 0s ease;
    transform: translateX(-100%);
}
.footer-links-holder .hiddeniv{
    transition-delay: 0.9s !important;
    transition: all 0s ease;
    transform: translateX(-100%);
}

.footer-links-holder .show{
    transform: translateX(0);
    filter: blur(0);
    transition: all 1s ease;
}

.newsletter{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.469);
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    backdrop-filter: blur(7px);
    /* overflow: hidden; */
}

.done{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 45vh; */
    border-radius: 20px;
    /* background: #eccfabe3; */
    background: #fff;
    box-shadow: 0px 0px 10px rgb(57, 57, 57);
    padding: 50px 30px;
}


.closenews{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    border: 2px solid #484139;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #484139;
    font-weight: 600;
    font-size: 20px;
    /* opacity: 0; */
    transition: all 0.5s ease;
}

.closenews:hover{
    /* rotate: 360deg; */
    border: 5px solid #484139;
}

.shownews{
    display: flex;
    /* transition: all 1s ease; */
}

.infonews{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* border-left: 5px solid #706458; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    overflow: hidden;
}

.infonews.hidden .textnews{
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    color: var(--light-text-color);
    position: relative;
    /* transform: translateX(-300px); */
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ease;
}

.infonews.show .textnews{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    margin-bottom: 50px;
}

.infonews.hidden .check{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* background-image: linear-gradient(-45deg,rgb(59, 198, 248), rgb(43, 213, 43)); */
    /* border: 2px solid rgba(0, 0, 0, 0.645); */
    /* color: #fff; */
    /* font-size: 40px; */
    background-image: url(/gif/email-verified.gif);
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: blur(5px);
    position: relative;
    /* transform: translateX(-300px); */
    transition: all 1s ease;
}

.infonews.show .check{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}


/* .shownews .closenews{
    opacity: 1;
} */

